<div class="wrapper" *ngIf="usuario">
  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      <img *ngIf="this.usuario.avatar | async; let url"  [src]="url" alt="profile card">
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">{{usuario.name}}</div>
      <div class="profile-card__txt">
        <p class="profile-card__txt" *ngIf="this.mutualaux">Mutual (También te sigue)</p>
      </div>
      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{this.followers}}</div>
          <div class="profile-card-inf__txt">Seguidores</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{this.follows}}</div>
          <div class="profile-card-inf__txt">Seguidos</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{this.cantidad}}</div>
          <div class="profile-card-inf__txt">Quizzes</div>
        </div>

       <!-- <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">0</div>
          <div class="profile-card-inf__txt">Logros</div>
        </div>-->
      </div>



      <div class="profile-card-ctr">
          <app-follow class="profile-card__button button--orange" *ngIf="!isAuthUserProfile()" (notify)='onNotify($event)'
          [currentProfileId]="id"></app-follow>
        <button class="profile-card__button button--blue js-message-btn" *ngIf="isAuthUserProfile()"
          routerLink="edit">Editar perfil</button>
        <!--<button class="profile-card__button button--yellow js-message-btn">Logros</button>-->
        
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>