<div class="wrapper" *ngIf="usuario">
  <div class="profile-card js-profile-card">
    <p style="position: absolute;right:0" role="button" (click)="openDialog()">
      <mat-icon *ngIf="!isAuthUserProfile() && this.authService.
      isLoggedIn()" mat-list-icon>report_problem</mat-icon>
    </p>
    <div class="profile-card__img">
      <img *ngIf="this.usuario.avatar | async; let url" [src]="url" alt="Avatar del usuario">
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">{{usuario.name}}</div>
      <div class="profile-card__txt">
        <p class="profile-card__txt" *ngIf="this.mutualaux">Mutual (También te sigue)</p>
      </div>
      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{this.followers}}</div>
          <div class="profile-card-inf__txt">Seguidores</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{this.follows}}</div>
          <div class="profile-card-inf__txt">Seguidos</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{this.cantidad}}</div>
          <div class="profile-card-inf__txt">Quizzes</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{this.logros}}</div>
          <div class="profile-card-inf__txt">Logros</div>
        </div>
      </div>

      <div class="profile-card-ctr">
        <app-follow class="profile-card__button button--orange" *ngIf="!isAuthUserProfile() && this.authService.
          isLoggedIn()" (notify)='onNotify($event)' [currentProfileId]="id"></app-follow>


        <button (click)="this.showEditar=false;this.showWall=true;this.showLogros=true" class="profile-card__button button--blue js-message-btn"
          *ngIf="isAuthUserProfile() && this.showEditar" routerLink="edit">Editar perfil</button>
        <button (click)="this.showWall=false;this.showEditar=true;this.showLogros=true" class="profile-card__button button--orange js-message-btn"
        *ngIf="this.showWall" routerLink="wall">Quizzes</button>
        <button (click)="this.showLogros=false;this.showWall=true;this.showEditar=true" class="profile-card__button button--yellow js-message-btn"
         *ngIf="this.showLogros" routerLink="logros">Logros</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>