<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Registro</div>
        <div class="panel-body">
          <form class="example-form" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombre de usuario" required formControlName="nombre"
                [errorStateMatcher]="matcher">
              <mat-hint>Será el nombre que verán los otros usuarios</mat-hint>
              <mat-error *ngIf="registroForm.get('nombre').hasError('required')">
                El nombre de usuario es <strong>obligatorio</strong>
              </mat-error>
              <mat-error
                *ngIf="!registroForm.get('nombre').hasError('required') && registroForm.get('nombre').hasError('minlength')">
                El nombre de usuario tiene un mínimo de <strong>4 caracteres</strong>
              </mat-error>
              <mat-error
                *ngIf="!registroForm.get('nombre').hasError('required') && registroForm.get('nombre').hasError('maxlength')">
                El nombre de usuario tiene un máximo de <strong>20 caracteres</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Correo electronico" required formControlName="email"
                [errorStateMatcher]="matcher">
              <mat-hint></mat-hint>
              <mat-error
                *ngIf="registroForm.get('email').hasError('email') && !registroForm.get('email').hasError('required')">
                Por favor, que el correo sea valido
              </mat-error>
              <mat-error *ngIf="registroForm.get('email').hasError('required')">
                El email es <strong>obligatorio</strong>
              </mat-error>
              <mat-error *ngIf="registroForm.get('email').hasError('maxlength')">
                  El email no debe superar los <strong>50 caracteres</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Contraseña" required formControlName="password"
                [errorStateMatcher]="matcher">
              <mat-hint></mat-hint>
              <mat-error *ngIf="registroForm.get('password').hasError('minlength')">
                La contraseña debe tener <strong>6 caracteres como mínimo</strong>
              </mat-error>
              <mat-error *ngIf="registroForm.get('password').hasError('maxlength')">
                La contraseña debe tener <strong>30 caracteres como máximo</strong>
              </mat-error>
              <mat-error *ngIf="registroForm.get('password').hasError('required')">
                La contraseña es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Repite la contraseña" required formControlName="password2"
                [errorStateMatcher]="matcher">
              <mat-hint></mat-hint>
              <mat-error *ngIf="registroForm.get('password2').hasError('pattern')">
                Las contraseñas deben coincidir
              </mat-error>
              <mat-error *ngIf="registroForm.get('password2').hasError('required')">
                La contraseña es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
            Al hacer clic en Registrarse, indicas que has leído y aceptas los <a class="enlace" [routerLink]="['/info',1]">Términos de uso</a> y la <a class="enlace" [routerLink]="['/info',2]">Política de privacidad</a>.<br><br>
            <button [disabled]="registroForm.invalid" mat-raised-button color="primary">Registrarse</button>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>

