<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Registro</div>
        <div class="panel-body">
          <form class="example-form" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombre" required formControlName="nombre" [errorStateMatcher]="matcher"
                pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ][A-Za-z0-9áéíóúÁÉÍÓÚñÑ _-]*" autocomplete="name">
              <mat-hint></mat-hint>
              <mat-error *ngIf="registroForm.get('nombre').hasError('required')">
                El nombre es <strong>obligatorio</strong>
              </mat-error>
              <mat-error
                *ngIf="!registroForm.get('nombre').hasError('required') && registroForm.get('nombre').hasError('minlength')">
                El nombre tiene que tener un mínimo de <strong>5 caracteres</strong>
              </mat-error>
              <mat-error
                *ngIf="!registroForm.get('nombre').hasError('required') && registroForm.get('nombre').hasError('maxlength')">
                El nombre tiene que tener un máximo de <strong>30 caracteres</strong>
              </mat-error>
              <mat-error *ngIf="registroForm.get('nombre').hasError('pattern')">
                Solo puede tener <strong>letras, números y guiones</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input (focusout)="checkUsed();" matInput placeholder="Nombre de usuario" formControlName="nickname"
                [errorStateMatcher]="matcher" pattern="[a-zA-Z0-9][A-Za-z0-9_-]*" autocomplete="nickname">
              <mat-hint>Será el nombre que verán los otros usuarios</mat-hint>
              <mat-error *ngIf="registroForm.get('nickname').hasError('required')">
                El nombre de usuario es <strong>obligatorio</strong>
              </mat-error>
              <mat-error
                *ngIf="!registroForm.get('nickname').hasError('required') && registroForm.get('nickname').hasError('minlength')">
                El nombre de usuario tiene un mínimo de <strong>4 caracteres</strong>
              </mat-error>
              <mat-error
                *ngIf="!registroForm.get('nickname').hasError('required') && registroForm.get('nickname').hasError('maxlength')">
                El nombre de usuario tiene un máximo de <strong>15 caracteres</strong>
              </mat-error>
              <mat-error *ngIf="registroForm.get('nickname').hasError('incorrect')">
                El nombre de usuario ya esta usado.
              </mat-error>
              <mat-error *ngIf="registroForm.get('nickname').hasError('pattern')">
                Solo puede tener <strong>letras, números y guiones</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Correo electronico" required formControlName="email"
                [errorStateMatcher]="matcher" autocomplete="email">
              <mat-hint></mat-hint>
              <mat-error
                *ngIf="registroForm.get('email').hasError('email') && !registroForm.get('email').hasError('required')">
                Por favor, que el correo sea valido
              </mat-error>
              <mat-error *ngIf="registroForm.get('email').hasError('required')">
                El email es <strong>obligatorio</strong>
              </mat-error>
              <mat-error *ngIf="registroForm.get('email').hasError('maxlength')">
                El email no debe superar los <strong>50 caracteres</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Contraseña" required formControlName="password"
                [errorStateMatcher]="matcher" autocomplete="new-password">
              <mat-hint></mat-hint>
              <mat-error *ngIf="registroForm.get('password').hasError('minlength')">
                La contraseña debe tener <strong>6 caracteres como mínimo</strong>
              </mat-error>
              <mat-error *ngIf="registroForm.get('password').hasError('maxlength')">
                La contraseña debe tener <strong>30 caracteres como máximo</strong>
              </mat-error>
              <mat-error *ngIf="registroForm.get('password').hasError('required')">
                La contraseña es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Repite la contraseña" required formControlName="password2"
                [errorStateMatcher]="matcher" pattern="{{ registroForm.get('password').value }}" autocomplete="new-password">
              <mat-hint></mat-hint>
              <mat-error *ngIf="registroForm.get('password2').hasError('pattern')">
                Las contraseñas deben coincidir
              </mat-error>
              <mat-error *ngIf="registroForm.get('password2').hasError('required')">
                La contraseña es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
           <p class="info"> Al hacer clic en Registrarse, indicas que has leído y aceptas los <a class="enlace"
              [routerLink]="['/info',1]">Términos de uso</a> y la <a class="enlace" [routerLink]="['/info',2]">Política
              de privacidad</a>.</p>
            <button [disabled]="registroForm.invalid" mat-raised-button color="primary">Registrarse</button>
            <div role="button" style="display:inline-block" (click)="loginSocial('google')" class="loginBtn loginBtn--google">
                Acceder con Google
              </div>
          </form>
          

        </div>
      </div>
    </div>
  </div>
</div>