$fondoWeb : #271553;
$fondoSuave : #5a458d;
$naranjaRetro : #e14705;
$verdeRetro : #529f82;
$colorLetra : white;



$paddingContainer:2vw;
$sizeSidenav: 15vw;
//Mas el padding de la pantalla, se gastan unos 20
//80VW libres;
$sizeQuiz: 37.5vw;
$marginQuiz: 0vw;

$sizeLogroBox: 80vw;
$paddingLogroBox:3vw;

$sizeLogro: 20vw;
$marginLogro: 2vw;
