<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Inicio de sesión</div>
        <div class="panel-body">
          <p *ngIf="this.confirmacion" style=color:#529f82;padding:1vh;>Le hemos enviado un correo a su dirección de correo electronico, para completar el registro.</p>
          <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Correo electronico" required formControlName="email"
                [errorStateMatcher]="matcher">
              <mat-hint></mat-hint>
              <mat-error
                *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
                Por favor, que el correo sea valido
              </mat-error>
              <mat-error *ngIf="loginForm.get('email').hasError('required')">
                El email es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Contraseña" required formControlName="password"
                [errorStateMatcher]="matcher">
              <mat-hint></mat-hint>
              <mat-error *ngIf="loginForm.get('password').hasError('required')">
                La contraseña es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
            <br>
            <button [disabled]="loginForm.invalid" mat-raised-button color="primary">Iniciar sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>