<cookie-law (isSeen)="seeCookie($event)" #cookieLaw name="CookiesHasquiz" learnMore="/learn-more" target="_self">
  Esta web usa cookies propias y de terceros con el fin de mejorar
  la experiencia del usuario, elaborar información estadística conforme a nuestra 
  <a role="button" [routerLink]="['/info','privacidad']"> Política de cookies</a> . Si continuas navegando, aceptas su uso.
  <a role="button" (click)="seeCookie($event)"> Continuar </a>
  
  
</cookie-law>
<app-barra-navegacion></app-barra-navegacion>