@import '../variables.scss';
//Toda la barra de navegación
//Elementos
img{
  width: 8em;
}
a {
  font-weight: bold;
  color: white !important;
  text-decoration:none;
  vertical-align: bottom;
}
a:hover {
  color: $naranjaRetro !important;
}
//Elementos
//Formularios del buscador 
form {
  display: inline;
  align-items: initial;
}
input {
  margin-top: 0.5%;
}
button {
  vertical-align: bottom;
}
//Formularios del buscador
//Menú desplegable
.mat-toolbar {
  background-color: $fondoSuave;
}
.menu-spacer {
  flex: 1 1 auto;
}
mat-sidenav-container, mat-sidenav{ //Para que no joda el fondo
background: transparent
}
mat-nav-list,mat-menu,mat-expansion-panel{//Para que el sidenav tenga fondo
  background-color: $fondoSuave ;
}
.container{
  margin-top:5%;
}

span,a{
  color:white!important;
  font-size:3vh;
}
button>mat-icon{
  color:white!important;
  font-size:1.8em;
}
mat-panel-title>mat-icon{
  height: 100%;
  color:white!important;
  font-size:1.8em;
}
.lupas{
  color:white!important;
  font-size:1.9em;
  vertical-align:top;
}
.icono{
  color:orange!important;
  font-size:2.5em;
}

h4{
  color:white;
  white-space: normal!important;
}
//Menú desplegable

//Querys responsive
.menuBoton{
  display: none;
}

@media (max-width: 800px) {
  .menuBoton {
    display: inline;
  }
  .menuExpandido {
    display: none;
  }
}

