@import '../variables.scss';

//Toda la barra de navegación
//Elementos
a {
  font-size: 1.25em;
  font-weight: bold;
  color: white !important;
  text-decoration:none;
  vertical-align: bottom;
}
a:hover {
  color: $naranjaRetro !important;
}
mat-toolbar-row{
  height: 90px!important;
}
//Elementos
//Formularios del buscador 
form {
  display: inline;
  align-items: initial;
}
input {
  margin-top: 0.5%;
}
button {
  vertical-align: bottom;
}
//Formularios del buscador
//Menú desplegable
.mat-toolbar {
  background-color: $fondoSuave;
}
.menu-spacer {
  flex: 1 1 auto;
}
mat-sidenav-content{
  background:none;
}
mat-sidenav-container, mat-sidenav{
background: transparent
}
.container{
  margin-top:5%;
}
mat-nav-list,mat-menu,mat-expansion-panel{
  background-color: $fondoSuave ;
}
mat-list-item{
  height: 100%!important;
}
span{
  color:white!important;
  font-size:3vh;
}
button>mat-icon{
  color:white!important;
  font-size:1.8em;
}
mat-panel-title>mat-icon{
  height: 100%;
  color:white!important;
  font-size:1.8em;
}
.lupas{
  color:white!important;
  font-size:1.9em;
  vertical-align:top;
}
.icono{
  color:orange!important;
  font-size:2.5em;
}
mat-menu{
  min-width: 350px!important;
}
mat-list-item{
  margin-bottom:5%;
}
h4{
  color:white;
  white-space: normal!important;
}
//Menú desplegable
