@import "../../variables.scss";

button {
  display: block;
  margin-top: 2%;
}
.checked {
  color: $naranjaRetro;
}
img {
  height: 25vw; 
  border-radius: 2%;
}
.fa-star {
  font-size: 2vw;
}
div {
  background: linear-gradient(to left, #529f82, #46317c);
  color: white;
  border-radius: 3%;
  text-transform: capitalize;
}

p {
  margin-top: 2%;
}
.card {
  box-shadow: 1px 3px 2px rgb(104, 100, 100);
  width: 50%;
  float: left;
  transition-delay: 0.1s;
  transition: all 0.3s;
  border: 0px !important;
}
.card:hover {
  transform: translateY(-5px);
}
@media (max-width: 800px) {
  .card{
    width: 75%;
    margin: auto;
    float:none;
  }
  .fa-star{
    font-size: 4vw;
  }

}

.card:hover {
  box-shadow: 4px 14px 8px rgb(68, 65, 65);
}

.card-body {
  text-align: center;
}
