@import "../../variables.scss";

button {
  display: block;
  background-color: white;
  color: black;
}
button:hover{
  background: white!important;
}
.checked {
  color: $naranjaRetro;
}
img {
  min-height: 20vw;
  height: 20vw;
  max-height: 20vw;
}
.fa-star {
  font-size: 3vh;
}
div {
  background: linear-gradient(to left, #46317c, #529f82, #46317c);
  color: white;
}
h4::first-letter {
  text-transform: uppercase;
}
.card-text{
  font-size: 1.5vh;
}
.card {
  transition-delay: 0.1s;
  transition: all 0.3s;
  border: 0px !important;
}
.card:hover {
  transform: translateY(-5px);
}
.card-title {
  font-size: 1vw !important;
}
@media (max-width: 800px) {
  .fa-star {
    font-size: 4vw;
  }
  .card-title {
    font-size: 2vh !important;
  }
  img{
    height: 100%;
    max-height: 40vh;
  }
}
.card:hover {
  box-shadow: 2px 7px 8px #529f82;
}

.card-body {
  text-align: center;
  padding: 1vh;
}
