<div class="card mb-3" *ngIf="quizz && usuario">
  <img [routerLink]="['/ver/quizz',quizz.id]" role="button" *ngIf="this.quizz.image | async; let url" [src]="url"
    class="card-img-top">
  <div class="card-body">
    <h4 [routerLink]="['/ver/quizz',quizz.id]" class="card-title" role="button">{{quizz.titulo}}</h4>
    <span class="{{generaEstrella(1)}}"></span>
    <span class="{{generaEstrella(2)}}"></span>
    <span class="{{generaEstrella(3)}}"></span>
    <span class="{{generaEstrella(4)}}"></span>
    <span class="{{generaEstrella(5)}}"></span>({{quizz.estrellas}})
    <p class="card-text" style="text-align:left" *ngIf="!this.isCreador"><small class="">Autor: </small><a
        [routerLink]="['/usuario/perfil',usuario.id]">{{this.usuario.name}}</a><span class="pull-right">Fecha:
        {{this.quizz.fechacreacion | PrettyDate}}</span></p>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="this.isCreador" style="background-color: white;color:black">Acciones</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">Eliminar</button>
      <button mat-menu-item (click)="cambiar()" *ngIf="!this.privado">Privatizar</button>
      <button mat-menu-item (click)="cambiar()" *ngIf="this.privado">Desprivatizar</button>
      <button mat-menu-item (click)="obtenerURL()" *ngIf="this.privado">Copiar URL</button>
    </mat-menu>
  </div>
</div>