<div class="card mb-3" *ngIf="quizz && usuario">
  <img alt="Imagen principal del quiz" [routerLink]="['/ver/quizz',quizz.id]" role="button" *ngIf="this.quizz.image | async; let url" [src]="url"
    class="card-img-top">
  <div class="card-body">
    <h4 class="card-title" role="button">{{quizz.titulo}}</h4>
    <span *ngFor="let item of [].constructor(estrellas)" class="fa fa-star checked"></span>
    <span *ngFor="let item of [].constructor(5-estrellas)" class="fa fa-star"></span>({{quizz.estrellas}})
    <p class="card-text" style="text-align:left" *ngIf="!this.isCreador">Autor: <a
        [routerLink]="['/usuario/perfil',usuario.id]">{{this.usuario.name}}</a><span class="pull-right">Fecha:
        {{this.quizz.fechacreacion | date}}</span></p>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="this.isCreador">Acciones</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">Eliminar</button>
      <button mat-menu-item (click)="cambiar()" *ngIf="!this.privado">Privatizar</button>
      <button mat-menu-item (click)="cambiar()" *ngIf="this.privado">Desprivatizar</button>
      <button mat-menu-item (click)="obtenerURL()" *ngIf="this.privado">Copiar URL</button>
    </mat-menu>
  </div>
</div>