.solu-box{
    padding: 10px;
    background-color: #3364DE;
    color:white;
    font-weight: bold;
    border-radius: 3.5px;
}
.solu-apar{
    border-radius:5%;
    margin:2%;
    background-color: #3393DE;
    padding: 5%;
}

.preg-box{
    padding: 10px;
    background-color: #e14705;
    color:white;
    font-weight: bold;
    border-radius: 3.5px;
}
.preg-apar{
    border-radius:5%;
    margin:2%;
    background-color: #ca6e47;
    padding: 5%;
}

.resp-box{
    padding: 10px;
    background-color: #529f82;
    color:white;
    font-weight: bold;
    border-radius: 3.5px;
}
.resp-apar{
    border-radius:5%;
    margin:2%;
    background-color: #82ccb0;
    padding: 5%;
}
.box {
    background-color: #3b2572 !important;
    border-radius: 1em;
    float: none !important;
    padding: 2%;
    font-weight: bold;
    font-size: 1.5em;
  }
  li{
      font-size: 1em;
  }

.panel-body{
    padding: 0px!important;
    background-color: #3b2572;
}
.panel{
    border:0px!important;
}
.panel-default{}
.top-form{
    padding:3%;
    background-color: white!important
}

select{
    color:black;
    font-weight: bold;
}

option{
    color:black;
    letter-spacing: 0px;
    font-size: 1em;
    font-weight: bold;
}

.seccion{
    font-size: 2em;
}
.apartado{
    font-size:1.3em;
}






.select-box{
    float:left;
    width: 100%;
}
.select-box > div{
    text-align: center;
    width: 20%;
    float:left;
}

.clear{
    clear:both;
}


.it .btn-orange
{
    background-color: blue;
    border-color: #777!important;
    color: #777;
    text-align: left;
  width:100%;
}
.it input.form-control
{
    
    border:none;
  margin-bottom:0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}
.it .form-control:focus
{
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
