<div class="row">
  <div class="col-md-12 box">
    <div class="panel-default">
      <div class="panel-heading">
        Crear Quizz
      </div>
      <div class="panel-body">
        <form enctype="multipart/form-data" [formGroup]="quizzForm" (ngSubmit)="onSubmit()">
          <div class="top-form">
            <ul class="list-group">
              <li class="list-group-item text-danger"
                *ngIf="quizzForm.get('titulo').hasError('required') && quizzForm.get('titulo').touched">
                El título es obligatorio
              </li>
              <li class="list-group-item text-danger"
                *ngIf="quizzForm.get('cp').hasError('required') && quizzForm.get('cp').touched">
                La cantidad de preguntas es obligatoría
              </li>
              <li class="list-group-item text-danger"
                *ngIf="quizzForm.get('cs').hasError('required') && quizzForm.get('cs').touched">
                La cantidad de soluciones es obligatoría
              </li>
              <li class="list-group-item text-danger"
                *ngIf="quizzForm.get('cp').hasError('min') && quizzForm.get('cp').dirty">
                La cantidad de preguntas mínima son 4
              </li>
              <li class="list-group-item text-danger"
                *ngIf="quizzForm.get('cp').hasError('max') && quizzForm.get('cp').dirty">
                La cantidad de preguntas máxima son 10
              </li>
              <li class="list-group-item text-danger"
                *ngIf="quizzForm.get('cs').hasError('min') && quizzForm.get('cs').dirty">
                La cantidad de soluciones mínima son 2
              </li>
              <li class="list-group-item text-danger"
                *ngIf="quizzForm.get('cs').hasError('max') && quizzForm.get('cs').dirty">
                La cantidad de soluciones máxima son 5
              </li>


            </ul>

            <div class="form-group">
              <label>Titulo del Quizz</label>
              <input type="text" class="form-control" formControlName="titulo" placeholder="Titulo del Quizz">
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Banner del Quizz" readonly>
                <div class="input-group-btn">
                  <span class="fileUpload btn btn-success">
                    <span class="upl" id="upload">Subir imagen</span>
                    <input type="file" class="upload up" accept="image/*" (change)="onFileChanged($event,50)"
                      formControlName="banner" id="up" />
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Cantidad soluciones</label>
              <input type="number" class="form-control" formControlName="cs"
                placeholder="Cantidad de soluciones a generar">
            </div>
            <div class="form-group">
              <label>Cantidad preguntas</label>
              <input type="number" class="form-control" formControlName="cp"
                placeholder="Cantidad de preguntas a generar">
            </div>
            <div class="form-group">
              <label>Configuración</label><br>
              <mat-checkbox formControlName="privado" style="font-weight: normal!important;font-size:0.9em!important;"
                (ngModel)="indeterminate" [labelPosition]="labelPosition">
                Quiz privado
              </mat-checkbox>
            </div>
            <div class="form-group text-center">
              <button *ngIf="firstStep" type="button" mat-raised-button color="primary"
                (click)="generaSoluciones()">Generar
                Soluciones</button>
              <button *ngIf="!firstStep" type="button" mat-raised-button color="primary" (click)="generaSoluciones()"
                [disabled]="quizzForm.invalid">Generar Soluciones</button>
            </div>
          </div>
          <!-- FORMULARIO DE SOLUCIONES -->
          <div *ngIf="firstStep" class="solu-box">
            <p class="text-center seccion">Soluciones</p>
            <!-- Soluciones -->
            <div class="solucionBox text-center" *ngFor="let item of [].constructor(this.max); let i = index">
              <mat-card class="example-card ">
                <mat-card-header>
                  <mat-card-title class="mat-card-header-text">Solución Nº {{i+1}}
                    <input type="text" class="form-control" placeholder="Nombre de la solución"
                      [formControlName]="generaId('st',i)">
                    <input type="text" style="display:none" class="form-control" placeholder="Imagen de la solución"
                      readonly>
                    <div class="input-group-btn">
                      <span class="fileUpload btn btn-success">
                        <span class="upl" id="upload">Subir imagen</span>
                        <input type="file" class="upload up" (change)="onFileChanged($event,i)"
                          [formControlName]="generaId('si',i)" id="up" />
                      </span>
                    </div>
                    <br>
                    <img [id]="'img'+i" mat-card-image width="200px">
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <input type="text" class="form-control" placeholder="Explicación de la solución"
                    [formControlName]="generaId('sd',i)">
                </mat-card-content>
              </mat-card>
            </div>
            <div style="clear:both"></div>
            <!--Fin soluciones-->

            <div class="form-group text-center">
              <button *ngIf="firstStep" type="button" mat-raised-button color="warn" (click)="generaPreguntas()"
                [disabled]="!firstStep">Generar Preguntas</button>
            </div>
          </div>

          <!-- PREGUNTAS -->
          <div *ngIf="secondStep" class="preg-box">
            <p class="text-center seccion">Preguntas</p>
            <div class="cajaPregunta" *ngFor="let item of [].constructor(this.maxp); let i = index">
              <div class="cont">
                <p class="text-center apartado">Nº {{i+1}}</p>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Titulo pregunta"
                    [formControlName]="generaId('pt',i)">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" placeholder="Cantidad respuestas"
                    [formControlName]="generaId('pcr',i)" max="20">
                </div>

              </div>
              <div class="form-group text-center">
                <button style="margin-top:1vw;background-color: mediumvioletred;" type="button" mat-raised-button color="accent"
                  (click)="generaRespuestas(i+1)">Generar
                  respuestas</button>
              </div>
              <!-- RESPUESTAS -->
              <div *ngIf="this.verdades[i].creada">
                <div *ngFor="let n of this.learray[i];let j = index" class="resp-box">
                  <div class="resp-apar" *ngIf="this.verdades[i].respuestas[n-1].mostrado">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Titulo respuesta"
                        [formControlName]="generaIdR('r',n,'p',i)" />
                      <div class="form-group afinidad-box" *ngFor="let x of [].constructor(this.maxs); let p = index">

                        <label for="exampleFormControlSelect1">Afinidad {{this.quizzForm.get('st'+(p+1)).value}}</label>
                        <select [formControlName]="generaIdRR('p',i,'rs',n,'a',p)" class="form-control"
                          id="exampleFormControlSelect1">
                          <option *ngFor="let q of [0,1,2,3,4,5,6,7,8,9,10]; let l = index">{{q}}</option>
                        </select>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="form-group text-center">
      <button *ngIf="thirdStep" type="button" class="btn btn-success" (click)="compruebaValidaciones()">Guardar
        Quizz</button>
    </div>
  </div>
</div>