<div class="row">
  <div class="col-md-12 box">
    <div class="panel-default">
      <div class="panel-heading">
        Creación de Quiz
      </div>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Notas y consejos a la hora de crear un quiz
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let correcta of correctas">
              <mat-icon mat-list-icon>stars</mat-icon>
              <h4 mat-line>{{correcta.name}}</h4>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="panel-body">
        <form enctype="multipart/form-data" [formGroup]="quizzForm" (ngSubmit)="onSubmit()">
          <div class="top-form">
            <mat-form-field class="example-full-width" style="width: 100%">
              <input matInput placeholder="Titulo del quiz" required formControlName="titulo"
                [errorStateMatcher]="matcher">
              <mat-hint>El nombre a mostrar en la web</mat-hint>
              <mat-error *ngIf="quizzForm.get('titulo').hasError('required') && quizzForm.get('titulo').touched">
                El título es <strong>obligatorio</strong>
              </mat-error>
              <mat-error
                *ngIf="!quizzForm.get('titulo').hasError('required') && quizzForm.get('titulo').hasError('minlength')">
                El título debe tener al menos <strong>10 caracteres</strong>
              </mat-error>
              <mat-error
                *ngIf="!quizzForm.get('titulo').hasError('required') && quizzForm.get('titulo').hasError('maxlength')">
                El título no debe superar los <strong>75 caracteres</strong>
              </mat-error>
            </mat-form-field>
            <div class="form-group"><br>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Banner del Quiz *" readonly>
                <div class="input-group-btn">
                  <span class="fileUpload btn btn-success">
                    <span class="upl" id="upload">Subir imagen</span>
                    <input type="file" class="upload up" accept="image/*" (change)="onFileChanged($event,50)"
                      formControlName="banner" id="up" />
                  </span>
                </div>
              </div>
            </div>
            <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="Nº soluciones" required formControlName="cs"
                [errorStateMatcher]="matcher">
              <mat-hint>Soluciones posibles</mat-hint>
              <mat-error *ngIf="quizzForm.get('cs').hasError('required') && quizzForm.get('cs').touched">
                La cantidad de soluciones es <strong>obligatoria</strong>
              </mat-error>
              <mat-error *ngIf="!quizzForm.get('cs').hasError('required') && quizzForm.get('cs').hasError('min')">
                La cantidad de soluciones mínima son <strong>2</strong>
              </mat-error>
              <mat-error *ngIf="!quizzForm.get('cs').hasError('required') && quizzForm.get('cs').hasError('max')">
                La cantidad de soluciones máxima son <strong>5</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="Nº preguntas" required formControlName="cp"
                [errorStateMatcher]="matcher">
              <mat-hint>Preguntas a responder</mat-hint>
              <mat-error *ngIf="quizzForm.get('cp').hasError('required') && quizzForm.get('cp').touched">
                La cantidad de preguntas es <strong>obligatoria</strong>
              </mat-error>
              <mat-error *ngIf="!quizzForm.get('cp').hasError('required') && quizzForm.get('cp').hasError('min')">
                La cantidad de preguntas mínima son <strong>4</strong>
              </mat-error>
              <mat-error *ngIf="!quizzForm.get('cp').hasError('required') && quizzForm.get('cp').hasError('max')">
                La cantidad de preguntas máxima son <strong>10</strong>
              </mat-error>
            </mat-form-field>
            <div class="form-group">
              <label style="display: block;margin-top:10vh;">Configuración</label>
              <mat-checkbox formControlName="privado" style="font-size:0.9em!important;" (ngModel)="indeterminate"
                [labelPosition]="labelPosition">
                Quiz privado
              </mat-checkbox>
            </div>
            <div class="form-group text-center">
              <button *ngIf="firstStep" type="button" mat-raised-button color="primary"
                (click)="generaSoluciones()">Generar
                Soluciones</button>
              <button *ngIf="!firstStep" type="button" mat-raised-button color="primary" (click)="generaSoluciones()"
                [disabled]="quizzForm.invalid">Generar Soluciones</button>
            </div>
          </div>
          <!-- FORMULARIO DE SOLUCIONES -->
          <div *ngIf="firstStep" class="solu-box">
            <p class="text-center seccion">Soluciones</p>
            <!-- Soluciones -->
            <div>
              <div class="solucionBox text-center" *ngFor="let item of [].constructor(this.max); let i = index">
                <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title class="mat-card-header-text">Nº {{i+1}}
                      <input matInput type="text" class="form-control" placeholder="Nombre de la solución"
                        [formControlName]="generaId('st',i)" [errorStateMatcher]="matcher">
                      <mat-hint></mat-hint>
                      <mat-error
                        *ngIf="quizzForm.get('st'+(i+1)).hasError('required') && quizzForm.get('st'+(i+1)).touched">
                        Los titulos son <strong>obligatorios para generar las preguntas</strong>
                      </mat-error>
                      <mat-error
                        *ngIf="quizzForm.get('st'+(i+1)).hasError('maxlength') && quizzForm.get('st'+(i+1)).touched">
                        El máximo de caracteres es <strong>50</strong>
                      </mat-error>
                      <input type="text" style="display:none" class="form-control" placeholder="Imagen de la solución"
                        readonly>
                      <div class="input-group-btn">
                        <span style="margin-top: 2vh;" class="fileUpload btn btn-success">
                          <span class="upl" id="upload">Subir imagen</span>
                          <input type="file" class="upload up" (change)="onFileChanged($event,i)"
                            [formControlName]="generaId('si',i)" id="up" />
                        </span>
                      </div>
                      <br>
                      <img [id]="'img'+i" mat-card-image>
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <input type="text" matInput class="form-control" placeholder="Explicación de la solución"
                      [formControlName]="generaId('sd',i)" [errorStateMatcher]="matcher">
                    <mat-error
                      *ngIf="quizzForm.get('sd'+(i+1)).hasError('required') && quizzForm.get('sd'+(i+1)).touched">
                      El campo es <strong>obligatorio</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="quizzForm.get('sd'+(i+1)).hasError('maxlength') && quizzForm.get('sd'+(i+1)).touched">
                      El máximo de caracteres es <strong>125</strong>
                    </mat-error>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="clear"></div>
            </div>

            <!--Fin soluciones-->

            <div class="form-group text-center">
              <button *ngIf="firstStep" type="button" mat-raised-button color="warn" (click)="generaPreguntas()"
                [disabled]="!firstStep">Generar Preguntas</button>
            </div>
          </div>

          <!-- PREGUNTAS -->
          <div *ngIf="secondStep" class="preg-box">
            <p class="text-center seccion">Preguntas</p>
            <div class="cajaPregunta" *ngFor="let item of [].constructor(this.maxp); let i = index">
              <div class="cont">
                <p class="text-center apartado">Nº {{i+1}}</p>
                <div class="form-group">
                  <input type="text" matInput class="form-control" placeholder="Enunciado"
                    [formControlName]="generaId('pt',i)" [errorStateMatcher]="matcher">
                  <mat-error
                    *ngIf="quizzForm.get('pt'+(i+1)).hasError('required') && quizzForm.get('pt'+(i+1)).touched">
                    El enunciado de la pregunta es <strong>obligatoria</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="quizzForm.get('pt'+(i+1)).hasError('maxlength') && quizzForm.get('pt'+(i+1)).touched">
                    El máximo de caracteres es <strong>125</strong>
                  </mat-error>
                </div>
                <div class="form-group">
                  <input matInput type="number" class="form-control" placeholder="Cantidad respuestas"
                    [formControlName]="generaId('pcr',i)" [errorStateMatcher]="matcher">
                  <mat-error
                    *ngIf="quizzForm.get('pcr'+(i+1)).hasError('required') && quizzForm.get('pcr'+(i+1)).touched">
                    El mínimo de respuestas es <strong>2</strong>
                  </mat-error>
                  <mat-error *ngIf="quizzForm.get('pcr'+(i+1)).hasError('min') && quizzForm.get('pcr'+(i+1)).touched">
                    El mínimo de respuestas es <strong>2</strong>
                  </mat-error>
                  <mat-error *ngIf="quizzForm.get('pcr'+(i+1)).hasError('max') && quizzForm.get('pcr'+(i+1)).touched">
                    El máximo de respuestas es <strong>20</strong>
                  </mat-error>
                </div>

              </div>
              <div class="form-group text-center">
                <button style="margin-top:1vw;background-color: mediumvioletred;" type="button" mat-raised-button
                  color="accent" (click)="generaRespuestas(i+1)">Generar
                  respuestas</button>
              </div>
              <!-- RESPUESTAS -->
              <div *ngIf="this.verdades[i].creada">
                <div *ngFor="let n of this.learray[i];let j = index" class="resp-box">
                  <div class="resp-apar" *ngIf="this.verdades[i].respuestas[n-1].mostrado">
                    <div class="form-group">
                      <input type="text" matInput class="form-control" placeholder="Respuesta"
                        [formControlName]="generaIdR('r',n,'p',i)" [errorStateMatcher]="matcher">
                      <mat-error
                        *ngIf="quizzForm.get('r'+n+'p'+(i+1)).hasError('required') && quizzForm.get('r'+n+'p'+(i+1)).touched">
                        El campo es <strong>obligatorio</strong>
                      </mat-error>
                      <mat-error
                        *ngIf="quizzForm.get('r'+n+'p'+(i+1)).hasError('maxlength') && quizzForm.get('r'+n+'p'+(i+1)).touched">
                        El máximo de caracteres es <strong>100</strong>
                      </mat-error>
                      <div class="form-group afinidad-box" *ngFor="let x of [].constructor(this.maxs); let p = index">
                        <label for="exampleFormControlSelect1">Afinidad {{this.quizzForm.get('st'+(p+1)).value}}</label>
                        <select [id] = "generaIdRR('p',i,'rs',n,'a',p)"  [formControlName]="generaIdRR('p',i,'rs',n,'a',p)" class="form-control"
                          id="exampleFormControlSelect1">
                          <option *ngFor="let q of [0,1,2,3,4,5,6,7,8,9,10]; let l = index">{{q}}</option>
                        </select>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="form-group text-center">
      <button *ngIf="thirdStep" type="button" class="btn btn-success" (click)="compruebaValidaciones()">Guardar
        Quizz</button>
    </div>
  </div>
</div>