<div class="col-md-4" *ngFor="let logro of this.listaLogros">
  <div class="card mb-2">
    <img [class]="isPendiente(logro)" [src]="'assets/logros/logro'+logro.id+'.png'" width="100"/>
    <div class="card-body">
      <h4 class="card-title">{{logro.nombre}}</h4>
      <p class="card-text">{{logro.descripcion}}</p>
      <p class="card-text">
        <span *ngIf="logro.fecha=='Aun no conseguido'" class="textoPendiente">{{logro.fecha}}</span>
        <span *ngIf="logro.fecha!='Aun no conseguido'">{{logro.fecha | PrettyDate}}</span>
      </p>
    </div>
  </div>
</div>