@import "../../../estilos/variables.scss";
//84 VW libre
.logroBox {
  width: 84vw;
  padding: 3vw;
}
//79vw
.logro {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 20vw;
  float: left;
}
.img{
  width: 20vw;
}
.pendiente {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.textoPendiente {
  color: $naranjaRetro;
  font-weight: bold;
}

/*
.card {
  margin: auto;
  background: none;
  max-width: 250px;
  margin: 1vh;
  
}
.card-body {
  text-align: center;
  background-color: $fondoSuave;
  color: white;
  min-height: 25vh;
  text-align: center;
}
.card-img-top {
  max-width: 250px;
  max-height: 300px;
}
.pendiente {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.textoPendiente {
  color: $naranjaRetro;
  font-weight: bold;
}
*/
@media (max-width: 800px) {
  .logro {
    width: 79vw;
    margin-bottom: 15vh;
  }
  .img{
    width: 20vw;
  }
}
