<div class="col-md-4" *ngFor="let logro of this.listaLogros">
  <div class="card mb-2">
    <img [alt]="'Logro '+logro.nombre" (mouseover)="setGif(logro)" (mouseleave)="deleteGif(logro)" [class]="isPendiente(logro)" [src]="logro.src" width="100"/>
    <div class="card-body">
      <h4 class="card-title">{{logro.nombre}}</h4>
      <p class="card-text">{{logro.descripcion}}</p>
      <p class="card-text">
        <span *ngIf="logro.fecha=='Aun no conseguido'" class="textoPendiente">{{logro.fecha}}</span>
        <span *ngIf="logro.fecha!='Aun no conseguido'">Conseguido el {{logro.fecha | date}}</span>
      </p>
    </div>
  </div>
</div>