<div class="card mb-3" *ngIf="quizz && usuario">
    <img [routerLink]="['/ver/quizz',quizz.id]" role="button" src="assets/img/{{this.quizz.image}}" class="card-img-top">
    <div class="card-body">
      <h4 [routerLink]="['/ver/quizz',quizz.id]" class="card-title" role="button">{{quizz.titulo}}</h4>
      <span class="{{generaEstrella(1)}}"></span>
            <span class="{{generaEstrella(2)}}"></span>
            <span class="{{generaEstrella(3)}}"></span>
            <span class="{{generaEstrella(4)}}"></span>
            <span class="{{generaEstrella(5)}}"></span>({{quizz.estrellas}})
      <p class="card-text"><small class="">Autor: </small><a [routerLink]="['/usuario/perfil',usuario.id]">{{this.usuario.name}}</a><span class="pull-right">Fecha: {{this.quizz.fechacreacion | PrettyDate}}</span></p>
    </div>
  </div>
