@import "../../variables.scss";

.panel {
  width: 47%;
  float: left;
  margin: 0.5%;
}
@media (max-width: 800px) {
  .panel {
    width: 100%;
    float: none;
    text-align: center;
  }
}
div {
  background-color: $naranjaRetro !important;
}
a {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1em;
  letter-spacing: 0.1em;
}
.panel-footer {
  background-color: $fondoSuave !important;
  color: white;
  font-weight: bold;
}
