<div class="mensaje">
  <h1 class="text-center seccion" style="background: none;">Moderación de quizzes</h1>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Qué criterio debería seguir a la hora de rechazar un Quiz?
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let correcta of correctas">
          <mat-icon mat-list-icon>announcement</mat-icon>
          <h4 mat-line>{{correcta.name}}</h4>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<div class="boxEnunciado" *ngIf="this.isLoaded && this.quizzes!=null" class="text-center">
    <app-quiz class="quizModera" [quizz]="this.rawquizzes[this.indice]"></app-quiz>
  <br>

  <div class="clear"></div>
  {{this.controlImagenes(0)}}
  <h2 class="seccion">Soluciones</h2>
  <div class="soluciones">
    <mat-card [class]="quizzes[indice].tipo==1?'example-card pers':'example-card punt'" *ngFor="let solucion of this.quizzes[this.indice].soluciones;let i = index">
      <mat-card-header>
        <mat-card-title>{{solucion.titulo}}</mat-card-title>
      </mat-card-header>
      <img alt="Imagen de la solución" mat-card-image *ngIf="this.imagenes[this.indiceImagenes] | async; let url"
        [src]="url" width="200px">
      {{this.controlImagenes(1)}}
      <div class="progress-wrapper" *ngIf="quizzes[indice].tipo==2">
        <round-progress style="margin: auto;" [current]="solucion.rango" [max]="100" [color]="'#5a458d'"
          [background]="'#eaeaea'" [radius]="100" [stroke]="30" [semicircle]="false" [rounded]="true" [clockwise]="true"
          [responsive]="false" [duration]="2000" [animation]="'easeInOutQuart'" [animationDelay]="0">
        </round-progress>
        <div class="text">{{solucion.rango}}%</div>
      </div>
      <mat-card-content>
        <p class="descSolu">
          {{solucion.descripcion}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="clear:both;"></div>

  <h2 class="seccion">Preguntas</h2>
  <br>
  <div class="cajaPregunta" *ngFor="let pregunta of this.quizzes[this.indice].preguntas;let i = index">
    <h4 style="margin-bottom: 1%;">{{pregunta.enunciado}}</h4>
    <div class="clear"></div>
    <div style="margin-bottom: 1%;" class="'box cajaRespuesta"
      *ngFor="let respuesta of pregunta.respuestas;let j=index">
      <p>{{respuesta.enunciado}}</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="acciones">
    <button *ngIf="!this.isAdmin" style="float:left;" mat-raised-button color="warn"
      (click)="juzga(false)">Rechazar</button>
    <button *ngIf="!this.isAdmin" style="float:right;" mat-raised-button color="primary"
      (click)="juzga(true)">Aprobar</button>
    <button *ngIf="this.isAdmin" style="float:left;" mat-raised-button color="warn"
      (click)="juzga(false)">Borrar</button>
    <button *ngIf="this.isAdmin" style="float:right;" mat-raised-button color="primary"
      (click)="juzga(true)">Publicar</button>
  </div>
</div>
<div *ngIf="this.isLoaded && this.quizzes==null">
  <p class="empty">¡Vaya, no hay ningún Quiz por moderar! Vuelve más tarde o crea el tuyo propio <3</p> </div>