  <div class="mensaje">
    <h1>Moderar Quizzes</h1>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            ¿Qué criterio debería seguir a la hora de rechazar un Quiz?
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let correcta of correctas">
            <mat-icon mat-list-icon>announcement</mat-icon>
            <h4 mat-line>{{correcta.name}}</h4>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="boxEnunciado" *ngIf="this.isLoaded && this.quizzs!=null" class="text-center">
    {{this.controlImagenes(0)}}
  <p class="box textEnunciado" style="background: #5a458d;width: 100%">Quiz {{this.quizzs[this.indice].titulo | json}} </p>
    <p class="box textEnunciado">Soluciones</p>
      <mat-card class="example-card" *ngFor="let solucion of this.quizzs[this.indice].soluciones;let i = index">
        <mat-card-header>
          <mat-card-title class="mat-card-header-text">{{solucion.titulo}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image *ngIf="this.imagenes[this.indiceImagenes] | async; let url" [src]="url" width="200px">
        {{this.controlImagenes(1)}}
        <mat-card-content>
          <p class="descSolu">
            {{solucion.descripcion}}
          </p>
        </mat-card-content>
      </mat-card>
    <div style="clear:both;"></div>

    <p class="box textEnunciado">Preguntas</p>
    <div class="boxPregunta" *ngFor="let pregunta of this.quizzs[this.indice].preguntas;let i = index">
      <h4  style="margin-bottom: 1%;" [class]="'box textPregunta'+' color'+i">{{pregunta.enunciado}}</h4>
      <div class="clear"></div>
      <div style="margin-bottom: 1%;" [class]="'box boxRespuesta'+' color'+i" *ngFor="let respuesta of pregunta.respuestas;let j=index">
        <p class="textRespuesta">{{respuesta.enunciado}}</p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="acciones">
        <button *ngIf="!this.isAdmin" style="float:left;" mat-raised-button color="warn" (click)="juzga(false)">Rechazar</button>
        <button *ngIf="!this.isAdmin" style="float:right;" mat-raised-button color="primary" (click)="juzga(true)">Aprobar</button>
        <button *ngIf="this.isAdmin" style="float:left;" mat-raised-button color="warn" (click)="juzga(false)">Rechazar</button>
        <button *ngIf="this.isAdmin" style="float:right;" mat-raised-button color="primary" (click)="juzga(true)">Publicar</button>
      <!--<button type="button" class="btn btn-danger" (click)="juzga(false)">Rechazar</button>
      <button type="button" class="btn btn-success" (click)="juzga(true)">Aprobar</button>-->
    </div>
  </div>
  <div *ngIf="this.isLoaded && this.quizzs==null">
    <p class="empty">¡Vaya, no hay ningún Quiz por moderar! Vuelve más tarde o crea el tuyo propio <3</p>
        </div>