@import "../../estilos/variables.scss";
* {
  margin: auto;
}
.box {
  font-size: 1.75em;
  padding: 1.5%;
  font-weight: bold;
  margin: auto;
  width: 75%;
  color: white !important;
}
h1,
.empty {
  background: $fondoSuave;
  padding: 1%;
}
h1,
h4,
mat-panel-title,
mat-icon,
.empty {
  color: white;
}
mat-expansion-panel {
  background: $fondoSuave !important;
}
mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) mat-expansion-panel-header:hover {
  background: $fondoSuave !important;
}
.mat-list-base .mat-list-item .mat-line {
  white-space: normal !important;
}
.mensaje {
  font-weight: bold;
  margin-bottom: 5%;
}

.cajaPregunta {
  width: 80vw;
  text-align: center;
  margin: auto;
  margin-bottom: 7.5vh;
  h4 {
    color: white;
    font-size: 5vh;
    padding: 1vw;
    font-weight: bold;
  }
  h4::first-letter {
    text-transform: uppercase;
  }
  div {
    p {
      font-weight: bold;
      color: white;
      font-size: 4vh;
      margin: auto;
      text-transform: initial;
      padding: 2vw;
      transition: width 0.2s, height 0.2s, transform 0.2s;
    }
    p:hover {
      transform: scale(1.05);
      color: #dde19c;
    }
    p::first-letter {
      text-transform: uppercase;
    }
  }
}
.cajaPregunta:nth-child(even) {
  h4 {
    background-color: $fondoSuave;
  }
  div {
    background-color: $fondoSuave;
  }
}
.cajaPregunta:nth-child(odd) {
  h4 {
    background-color: $verdeRetro;
  }
  div {
    background-color: $verdeRetro;
  }
}

.cajaRespuesta {
  background-color: $verdeRetro;
  width: 39vw;
  min-height: 25vh;
  float: left;
  align-content: center;
  margin-bottom: 1vh;
}

.cajaRespuesta:nth-child(odd){
  margin-right: 2vw;
}



.boxEnunciado {
  margin: auto;
  width: 100%;
  font-weight: bolder;
}
.textEnunciado {
  background-color: #8999b0;
}

.clear {
  clear: both;
}
::ng-deep .mat-card-header-text,
mat-card-title {
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  padding: 0.5vh;
  text-align: center !important;
}
.acciones {
  width: 75%;
  min-height: 200px;
  margin: auto;
}
button {
  margin-top: 5%;
  font-size: 4vh;
  padding: 3vh;
}
.soluciones {
  width: $sizeLogroBox;
  padding: $paddingLogroBox;
}
.example-card {
  background-color: $fondoSuave !important;
  width: $sizeLogro;
  margin: $marginLogro;
  float: left;
  text-align: center;
}
img {
  max-width: $sizeLogro;
}

.punt {
  float: left;
  margin: 1vh;
}

img {
  max-height: 250px;
}
.mat-card-header-text,
mat-card-header,
mat-card-title {
  width: 100% !important;
  margin-left: 0px !important;
  text-align: center !important;
}
.soluciones {
  margin: auto;
  float: left;
}

::ng-deep .quizModera {
  .quiz {
    margin: auto !important;
    float: none !important;
  }
  img {
    pointer-events: none;
    cursor: default;
  }
}

.progress-wrapper {
  position: relative;
  margin: 5vh !important;
}

.progress-wrapper .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  width: 100%;
  z-index: 1;
  font-weight: bold;
  font-size: 2.5vh;
}
round-progress {
  width: 100px !important;
  height: 100px !important;
}
.descSolu {
  padding: 1vh;
}
@media (max-width: 800px) {
  .example-card {
    width: 80vw;
  }
  img {
    max-width: 80vw;
  }
  .cajaRespuesta {
    width: 100%;
    min-height: 0;
  }
  .cajaPregunta {
    h4 {
      padding: 10%;
      border-radius: 50%;
    }
  }
}
