.box {
  font-size: 1.75em;
  padding: 1.5%;
  font-weight: bold;
  margin:auto;
  width: 75%;
  color: white!important;
}
mat-expansion-panel{
  background-color: #cbddd6!important;
}
.mensaje{
  font-weight: bold;
  margin-bottom: 5%;
}
.boxEnunciado{
  margin: auto;
  width: 100%;
  font-weight:bolder;
}
.textEnunciado{
  background-color: #8999b0;
}
.boxSolucion {
  width: 100%;
}
.textSolucion {
  background-color: #529f82;
  color: white;
  font-size: 2em;
  padding: 2%;
  font-weight: bold;
}
.boxPregunta {
  width: 100%;
}
.textPregunta {
  background-color: #529f82;
  color: white;
  font-size: 2em;
  padding: 2%;
  font-weight: bold;
}
.textPregunta::first-letter {
  text-transform: uppercase;
}
.desactivado {
  background-color: rgb(88, 87, 87) !important;
}
.boxRespuesta {
  background-color: #529f82;
  width: 45%;
  min-height: 100%;
  float: left;
}
.boxRespuesta:nth-child(odd){
  float: right;
}
.textRespuesta {
  font-weight: bold;
  color: white;
  font-size: 1.5vw;
  margin: auto;
  text-transform: initial;
  padding: 5%;
  margin-right: 1%;
  transition: width 0.2s, height 0.2s, transform 0.2s;
}
.textRespuesta:hover {
  transform: scale(1.05);
  color: #dde19c;
}
.textRespuesta::first-letter {
  text-transform: uppercase;
}
.clear {
  clear: both;
}

.color1 {
  background-color: #3b2572;
}
.color2 {
  background-color: #529f82;
}
.color3 {
  background-color: #3b2572;
}
.color4 {
  background-color: #529f82;
}
img{
}
.acciones{
  width: 50%;
  min-height:200px;
  margin:auto;
}
button{
  margin-top: 5%;
  font-size: 2em;
  padding: 3%;
}

.example-card {
  background-color: #3b2572;
  color: white;
  font-weight: bold;
  max-width: 500px;
}
.example-card:nth-child(even){
  float:left;
}
.example-card:nth-child(odd){
  float:right;
}

img{
  max-height: 250px;
}
.mat-card-header-text,mat-card-header,mat-card-title{
  width: 100%!important;
  margin-left: 0px!important;
  text-align: center!important;
}
.soluciones{
  margin:auto;
  float:left;
}
