.panel{
    width: 47%;
    float:left;
    margin:0.5%;
}
div{
    background-color: #e14705!important;
    
}
a{
    color:white;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1em;
    letter-spacing: 0.1em;
}
.panel-footer{
    background-color: #3b2572!important;
    color:white;
    font-weight: bold;
}