form{
    margin-top: 5px;
    display: inline;
}
input{
    margin-top: 0.5%;
}
i{
    vertical-align: sub;
    margin-left: 0.5%;
}
ul{
    display: inline;
}
a{
    font-size: 1.5em;
    font-weight: bold;
    color:White!important;
}
a:hover{
    color:#e14705!important
}

.navbar-inverse{
    background-color: #3b2572!important;
}
button{
    vertical-align: bottom;
}
