<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                    <div class="panel-heading">{{this.titulos[this.opcion]}}</div>
                    <div *ngIf="this.opcion==1" class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    <div *ngIf="this.opcion==2" class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    <div class="panel-body" *ngIf="this.opcion==3">Si quieres contactar con Hasquiz, tanto como para reportar un error, como para dudas, o para comentarnos que vendría bien en la web, dispones del siguiente correo: <br><a class="correo" href="mailto:general@hasquiz.com">general@hasquiz.com</a></div>
                    <div class="panel-body" *ngIf="this.opcion==4">Por ahora solo tenemos Twitter <a class="correo" target="_blank" href="https://twitter.com/hasquiz">@hasquiz</a>  ¡No dudes en seguirnos para enterarte de lo último!</div> 
                </div>
        </div>
    </div>
</div>