@import 'estilos/variables.scss';


*{
  color:white;
}

.snackBar{
  background: $fondoSuave;
}
.snackBarWrong{
  background: firebrick;
}
.snackBarSuccess{
  background: darkgreen;
}


@font-face {
  font-family: 'retroFont';
  src: 
       url('assets/SEASRN__.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'retroFont2';
    src: 
         url('assets/Limelight.ttf')  format('truetype'), /* Safari, Android, iOS */
  }



@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
