@import 'estilos/variables.scss';


*{
  color:white;
}

.snackBar{
  background: $fondoSuave;
  margin-left: 15vw!important;
}
.snackBarWrong{
  background: firebrick;
  margin-left: 15vw!important;
}
.snackBarSuccess{
  background: darkgreen;
  margin-left: 15vw!important;
}

.btn-success{
  background-color: darkgreen!important;
  border-color:darkgreen!important;
}
.btn-success:hover{
  background-color: #28a745!important;
  border-color: #28a745!important;
}

@media (max-width: 800px) {
  .snackBar,.snackBarWrong,.snackBarSuccess{
    margin: 5vw!important;
  }
}


@font-face {
  font-family: 'retroFont';
  src: 
       url('assets/SEASRN__.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'retroFont2';
    src: 
         url('assets/Limelight.ttf')  format('truetype'), /* Safari, Android, iOS */
  }



@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
