.padreQuiz {
  float: left;
}
.cajaQuiz {
  padding: 1vh;
  width: 50%;
  min-height: 65vh;
  float: left;
}

@media (max-width: 800px) {
  .padreQuiz {
    float: none;
  }
  .cajaQuiz {
    width: 100%;
    min-height: initial;
    float: none;
  }
}

.seccion {
  font-size: 2em;
  color:white;
  font-weight: bold;
}
