    <div class="containerForm" style="margin-top:2vh;margin-bottom:2vh;">
            <h5>Buscador</h5>
            <div class="panel-body">
                <form class="example-form" [formGroup]="this.busquedaForm" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <input matInput required formControlName="busqueda">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                    <br>
                    <button [disabled]="this.busquedaForm.invalid" mat-raised-button color="primary">Buscar</button>
                </form>
            </div>
    </div>




<div *ngIf="this.isLoaded && this.aBuscar!=null">
    <p class="empty">Resultados para ' {{this.aBuscar}} ' :</p>
    <div *ngIf="this.quizzes">
        <p class="seccion">Quizzes</p>
        <div *ngIf="this.quizzes.length==0 && this.isLoaded">
            <p class="empty">Sin resultados.</p>
        </div>
        <div class="padreQuiz" *ngIf="quizzes && this.isLoaded">
            <div class="cajaQuiz" *ngFor="let quizz of quizzes">
                <app-quiz [quizz]="quizz"></app-quiz>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <p class="seccion">Usuarios</p>
    <div *ngIf="this.usuarios">
        <div *ngIf="this.usuarios.length==0" style="padding:1%">
            <p class="empty">Sin resultados.</p>
        </div>
        <div *ngFor="let usuario of usuarios">
            <app-usuario [usuario]="usuario"></app-usuario>
        </div>
    </div>
</div>