@import "../../variables.scss";

//Apartado de las preguntas
.clear {
  clear: both;
}

.desactivado {
  background-color: rgb(88, 87, 87) !important;
}

.cajaPregunta {
  text-align: center;
  width: 100%;
  h4 {
    color: white;
    font-size: 2vw;
    padding: 2%;
    font-weight: bold;
  }
  h4::first-letter {
    text-transform: uppercase;
  }
  div {
    p {
      font-weight: bold;
      color: white;
      font-size: 1.5vw;
      margin: auto;
      text-transform: initial;
      padding: 5%;
      margin-right: 1%;
      transition: width 0.2s, height 0.2s, transform 0.2s;
    }
    p:hover {
      transform: scale(1.05);
      color: #dde19c;
    }
    p::first-letter {
      text-transform: uppercase;
    }
  }
}
.cajaPregunta:nth-child(even) {
  h4 {
    background-color: $fondoSuave;
  }
  div {
    background-color: $fondoSuave;
  }
}
.cajaPregunta:nth-child(odd) {
  h4 {
    background-color: $verdeRetro;
  }
  div {
    background-color: $verdeRetro;
  }
}

.cajaRespuesta {
  background-color: $verdeRetro;
  width: 45%;
  min-height: 100%;
  float: left;
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 2%;
}
//Apartado de las preguntas
//Apartado de la solución mostrada
.example-card {
  margin: auto;
  max-width: 400px;
  background-color: #cbddd6 !important;
}
.mat-card-header-text,
mat-card-header,
mat-card-title {
  width: 100% !important;
  margin-left: 0px !important;
  text-align: center !important;
}
mat-card-actions {
  min-height: 3em;
}
i {
  font-size: 3em;
  color: #1da1f2;
}
.descSolu {
  font-size: 1.2em;
  text-align: justify;
}
