<div class="col-md-12 box">
  <div class="" *ngIf="quizz && cargado">
    <div class="panel-body">

      


      <div class="boxPregunta" *ngFor="let pregunta of this.quizz.preguntas;let i = index">
        <h4 [id]="'p'+i" [class]="'textPregunta'+' color'+i">{{pregunta.enunciado}}</h4>
        <div class="clear"></div>
        <div [id]="i+''+j" [class]="'boxRespuesta'+' color'+i" *ngFor="let respuesta of pregunta.respuestas;let j=index" (click)="seleccion(i+''+j)">
            <p class="textRespuesta">{{respuesta.enunciado}}</p>
        </div>
        <div class="clear"></div>
      </div>

    </div>

    <!--
    <form [formGroup]="quizzForm" (ngSubmit)="onSubmit()">
      <div class="panel-heading">
        <h3 class="text-center">
          {{quizz.titulo}}
        </h3>
      </div>
      <div class="panel-body">
        <div *ngFor="let pregunta of this.quizz.preguntas;let i = index">
          <h4 class="text-center">{{pregunta.enunciado}}</h4>
          <div class="text-center">

            <mat-form-field>
              <mat-label>Seleccione una respuesta</mat-label>
              <mat-select [formControlName]="i+1" name="respuesta">
                <mat-option *ngFor="let respuesta of pregunta.respuestas;let j=index" [value]="respuesta">
                  {{respuesta.enunciado}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </div>
      <div class="panel-footer text-center">
        <button type="submit" class="btn btn-success" [disabled]="quizzForm.invalid">
          Terminar
        </button>
      </div>
    </form>
    -->
  </div>
</div>
<div class="col-md-12 box">
  <div *ngIf="resultado" class="panel panel-default">
    <div class="panel-heading text-center">
      <h3 class="text-center">
        {{this.solucionado.titulo}}
      </h3>

      <img *ngIf="this.solucionado.image | async; let url" [src]="url" width="200px" />
    </div>
    <div class="panel-body">
      {{this.solucionado.descripcion}}
    </div>
    <div class="panel-footer">
      <p class="text-center">Por favor, puntue el test <3</p> <div class="last">
          <app-votar [id]="this.quizz.id"></app-votar>
    </div>

  </div>
</div>
</div>