@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.box {
    background-color: #3b2572 !important;
    border-radius: 1em;
    padding-left: 1.5em;
    float: none!important;
  }

.last{
    padding: 15px;
    margin-left: 39%;
    height: 3em;
    
}
h3{
    font-weight: bold;
}
.panel-body{
    text-align: center;
}
mat-form-field{
    width: 100%;
}