<div class="col-md-12" *ngIf="quizz && cargado">
  <div class="panel-body">

    <div class="cajaPregunta" *ngFor="let pregunta of this.quizz.preguntas;let i = index">
      <h4 [id]="'p'+i">{{pregunta.enunciado}}</h4>
      <div class="clear"></div>
      <div [id]="i+''+j" class="cajaRespuesta" *ngFor="let respuesta of pregunta.respuestas;let j=index"
        (click)="seleccion(i+''+j)" [ngx-scroll-to]="'#'+i+''+j">
        <p>{{respuesta.enunciado}}</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="text-center">
  <mat-card *ngIf="resultado" class="example-card">
    <mat-card-header>
      <mat-card-title class="mat-card-header-text">{{this.solucionado.titulo}}
        <p style="display: inline;" role="button" (click)="openDialog()">
          <mat-icon *ngIf="this.authService.isLoggedIn()" mat-list-icon>report_problem</mat-icon>
        </p>
      </mat-card-title>
    </mat-card-header>
    <img alt="Imagen de la solucion adquirida" mat-card-image *ngIf="this.solucionado.image | async; let url"
      [src]="url" width="200px">
    <mat-card-content>
      <p class="descSolu">
        {{this.solucionado.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a id="shareme" [href]="this.urlShare" target="_blank">
        <i role="button" class="fab fa-twitter pull-right"></i>
      </a>
      <app-votar [id]="this.quizz.id"></app-votar>
    </mat-card-actions>
  </mat-card>
</div>

<p class="empty" *ngIf="this.quizz==null">Lo sentimos, el Quiz al que intenta acceder no existe o aún no ha sido
  publicado.
  <mat-icon style="font-size: 1.2em;">
    sentiment_very_dissatisfied
  </mat-icon>
</p>
<div id="target">dawdawd</div>